@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	background: rgb(246, 246, 247);
	color: rgb(64, 62, 67);
}

h1 {
	margin-top: 36px;
	font-size: 32px;
}

h2 {
	margin-top: 28px;
	font-size: 24px;
}

p {
	font-size: 16px;
	margin: 12px 0;
}

li {
	margin: 4px 0;
}

ul {
	list-style-type: disc;
	padding-left: 24px;
}

ol {
	list-style-type: decimal;
	padding-left: 24px;
}

ol ol {
	list-style-type: lower-alpha;
}

blockquote {
	margin: 0;
	padding-left: 16px;
	border-left: 2px solid rgb(201, 199, 204);
}

.context {
	display: block;
	margin: 20px 0;
	padding: 12px 16px;
	font-size: 14px;
	color: rgb(100, 98, 103);
	background: rgb(238, 238, 240);
	border-radius: 4px;
}

.context p {
	font-size: 14px;
	margin: 8px 0;
}

.context p:first-child {
	margin-top: 0;
}

.context p:last-child {
	margin-bottom: 0;
}

.main a {
	text-decoration: underline;
	opacity: 0.7;
	text-decoration-color: rgba(64, 62, 67, 0.4);
}

.main a:hover {
	opacity: 1;
	text-decoration-color: rgba(64, 62, 67, 1);
}

.main hr {
	margin: 32px 0;
}

code {
	font-family: Inconsolata;
	border: 1px solid #ddd;
	background-color: #eee;
	border-radius: 4px;
}

pre>code {
	display: block;
	overflow-x: auto;
	padding: 4px;
}